@font-face {
	font-family: NeueMontreal;
	src: url(./font/NeueMontreal-Regular.woff);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: NeueMontreal;
}



html {
	font-size: 10px;
}



.main-container {
	width: 100%;
	/* min-height:100vh; */
	background-color: rgb(13, 13, 13);
	padding: 0 12rem;
}
header{
	width:100%;
	position: fixed;
	position: -webkit-fixed;
	z-index: 20;
	top:0;
	padding:0 12rem;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.8rem 0;
}
.synk-logo {
	font-size: 3.2rem;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}
.nav-btn-action {
	display: flex;
	justify-content: center;
	gap: 1.4rem;
}
.nav-btn-action > button,.insights-content > button,.cta-content > button {
	border:none;
	border-radius: 2.7rem;
	font-size: 2rem;
	width:17.5rem;
	height:5.9rem;
	color: rgba(55, 55, 55, 1);
}
.small-screen-text{
	display: none;
}



.hero-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 18rem 0  8rem 0;
}

.hero-container > .left-container {
	width: 60%;
}

.hero-container > .right-container {
	width: 30%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	
}
.right-container > video {
	width: 100%;
}
.tag-line {
	border-radius: 2.4rem;
	border: 1px solid rgba(55, 55, 55, 1);
	color: rgba(202, 202, 202, 1);
	font-size: 1.6rem;
	padding: 1rem 2rem;
	display: inline-block;
	box-shadow: 0px 1.11px 0px 0px rgba(255, 255, 255, 0.2) inset;

box-shadow: 0px 1.11px 4.44px 1.11px rgba(255, 255, 255, 0.08) inset;

}

.hero-title {
	padding: 2rem 0;
	font-size: 9rem;
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
	line-height: 9rem;
}
.hero-desc {
	font-size: 2.4rem;
	font-weight: 400;
	color: rgba(123, 123, 123, 1);
	
}

.left-container > button {
	width:18rem;
	height:5.8rem;
	border: none;
	border-radius: 2.5rem;
	font-size: 1.6rem;
	padding: 1.2rem 2rem;
	box-shadow: 0px 0px 2.15px 0px rgba(255, 255, 255, 1);

box-shadow: 0px 0px 4.3px 0px rgba(255, 255, 255, 1);

box-shadow: 0px 0px 15.06px 0px rgba(255, 255, 255, 1);

box-shadow: 0px 0px 30.12px 0px rgba(255, 255, 255, 1);

box-shadow: 0px 0px 51.63px 0px rgba(255, 255, 255, 1);

box-shadow: 0px 0px 90.35px 0px rgba(255, 255, 255, 1);

		margin-top: 4rem;
		color:rgba(72, 72, 72, 1);
}
.scroll-text-effect {
	padding-bottom: 4rem;
	color: rgba(118, 118, 118, 1);
	width: 100%;
}
.scroll-text-effect p {
	font-weight: 400;
	font-size: 3.2rem;
	padding-bottom: 2.6rem;
	width: 51.3rem;
	margin: auto;
	
}
.text-larger {
	font-size: 4rem !important;
}
.scroll-text-effect > p > span {
	color: #fff;
}
.features-wrapper {
	padding: 2rem 0;
	width: 100%;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}
.feature-card {
	border: 1px solid rgba(27, 27, 27, 1);
	border-radius: 2rem;
	width: 33%;
	padding: 2.4rem 2.4rem 0 2.4rem;
	background-color: rgba(16, 16, 16, 1);
	position: relative;
}

.card-title {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	align-items: center;
	color: rgba(255, 255, 255, 1);
	font-size: 2.4rem;
	font-weight: 400;
}
.card-description {
	font-size: 2rem;
	color: rgba(134, 134, 134, 1);
	padding: 1rem 0;
}
.feature-img {
	text-align: center;
	margin-top: 4rem;
	
}
.feature-img > img {
	width: 100%;
	height:30rem;
	object-fit: contain;
}

.insights {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 9.7rem;
	padding: 4rem 0;
}
.insights-content {
	width: 60%;
}
.insights-heading > h2 {
	font-size: 4.2rem;
	font-weight: 400;
	color: #fff;
}

.insights-text{
	padding: 2rem 0;
}
.insights-text > p {
	font-size: 2.4rem;
	color: rgba(123, 123, 123, 1);
	
	
	
}

.insights-video {
	width: 30rem;
}

.insights-video > video {
	width: 100%;
	height: 61.3rem;
}
.profile-info {
	width: 70%;
	margin: auto;
	padding: 4rem 0;
}
.profile-content {
	width:60.9rem;
}
.profile-content > h3 {
	font-size: 4.8rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}
.profile-text {
	padding: 2rem 0;
}
.profile-text > p {
	font-size: 2.4rem;
	color: rgba(123, 123, 123, 1);
}

.profile-showecase-design {
	display: flex;
	justify-content: flex-start;
	gap: 1.4rem;
}
.profile-design {
	background-color: rgba(16, 16, 16, 1);
	width: 50%;
	
	border: 1px solid rgba(27, 27, 27, 1);
	border-radius: 2rem;
	text-align: center;
	position: relative;
}
.profile-design:first-child {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 8rem;
}
.profile-design:last-child {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-top: 8rem;
}

.profile-design > img {
	width: 80%;
}

.cta-section {
	width: 100%;
	background-color: red;
	height: 80vh;
	border-radius: 2.6rem;
	overflow: hidden;
	position: relative;
}

.cta-section > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cta-content {
	position: absolute;
	width: 70.5rem;
	top: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cta-content > h3 {
	font-size: 9rem;
	font-weight: 400;
	white-space: nowrap;
	color: #fff;
}

.cta-content > p {
	font-size: 2.4rem;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 2rem;
}



.footer-links {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
	list-style-type: none;
}
.footer-links > li {
	font-size: 2rem;
	font-weight: 400;
	color: rgba(122, 122, 122, 1);
}

.animated-background{
	background-color: rgb(12,13,13);
	position:fixed;
	width:100%;
	height:100vh;
	z-index:30;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animated-background > h1{
	font-size: 6.4rem;
	color:rgba(255, 255, 255, 1);
	font-weight: 400;
}
@media (max-width: 1260px) {
	.profile-info,.insights{
		width:100%;
		margin:auto;
		justify-content: center;
	}
	.main-container,header{
		padding:0 6rem;
	}
	.hero-title {
		font-size: 8rem;
	}
	.hero-container > .right-container{
		width:35%;
	}
 
	.hero-title {
		font-size: 8rem;
	}
	.hero-desc {
		font-size: 2rem;
		
	}

	
	
	
}
@media (max-width:886px) {
	html{
		font-size: 8.6px;
	}
	.hero-container {
		
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap:6rem;
	}
.hero-desc{
	width:100%;
}
	.hero-container > .left-container,
	.right-container {
		width: 100%;
		text-align: center;
	}

	.hero-container > .right-container {
		width: 50%;
		justify-content: center;
	}
	.right-container > video {
		width:100%;
	}
	   
	.features-wrapper {
		flex-wrap: wrap;
        gap:1rem;
	}
	.feature-card {
		width: 49%;
	}
	
}
@media (max-width: 550px) {
	html {
		font-size: 8px;
	}
	.hero-desc{
		display: none;
		font-size: 2rem;
	}
	.main-container,header {
		padding: 0 2.8rem;
	}
	.insights-content > p {
		width:100%;
    }
	.nav-btn-action > button,.insights-content> button {
		width:126px;
		height:49px;
		border-radius: 20px;
		font-size: 14px;
		white-space: nowrap;
		text-align: center;
		padding:0;
		color:rgba(55, 55, 55, 1);
		
	}
	.hero-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 12rem;
		padding: 16rem 0;
	}

	.hero-container > .left-container,
	.right-container {
		width: 100%;
		text-align: center;
	}
	.left-container > button{
		width:202px;
		height:57px;
		border-radius: 25px;
		font-size: 16px;
		color:rgba(72, 72, 72, 1);
	}

	.hero-container > .right-container {
		width: 100%;

		justify-content: center;
	}
	.right-container > video {
		width:100%;
	}

	.hero-title {
		padding: 2rem 0;
		font-size: 6rem;
		line-height: 6rem;
	}

	.left-container > button {
		box-shadow: 0 0 50px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255),
			0 0 60px rgb(255, 255, 255), 0 0 120px rgb(255, 255, 255);
	}
	.scroll-text-effect p {
		font-size: 2.4rem;

		width: 100%;
	}
    .text-larger{
        font-size: 3.2rem !important;
    }
	.features-wrapper {
		flex-wrap: wrap;
        gap:1rem;
	}
	.feature-card {
		width: 100%;
		border:0.74px solid rgba(27, 27, 27, 1);
	}

	.insights {
		justify-content: center;
		flex-wrap: wrap-reverse;
		gap: 6rem;
		width: 100%;
	}
	.insights:last-child {
		flex-wrap: wrap;
	}
	.insights-content {
		width: 100%;
	}
	
	.insights-content > p {
		font-size: 18px;
		padding-bottom: 4rem;
	}
	
	

	.insights-video {
		width: 100%;
	}

	.insights-video > video {
		width: 100%;
		height: 61.3rem;
	}

	.profile-content,
	.profile-info {
		width: 100%;
	}
	.profile-content {
		padding-bottom: 6rem;
	}
	.profile-content > h3 {
		font-size: 32px;
		
	}
	.profile-content > p {
		width:100%;
		font-size: 20px;
	}

	.profile-showecase-design {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.4rem;
	}
	.profile-design {
		width: 100%;
	}
	.profile-design > img {
		width:80%;
	}

	.cta-content > h3 {
		font-size: 4rem;
		white-space: wrap;
	}

	.cta-content > p {
		font-size: 2rem;
	}
	.cta-content {
		width: 26rem;
	}
	.cta-section {
		height: 60vh;
	}
	.footer-links > li {
		font-size: 1.4rem;
	}
	.small-screen-text{
		display: block;
		font-size: 20px;
		color:rgba(123, 123, 123, 1);
		font-weight: 400;
		
	}
	.insights-text {
		font-size: 20px !important;
	}
	.insights-heading > h2{
		font-size: 32px !important;
	}
	.cta-content > button {
		width:119px;
		height:49px;
		border-radius: 20px;
		font-size: 14px;
		color:rgba(55, 55, 55, 1);
	}
}
